.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.title {
  color: white;
  letter-spacing: 1.7px;
}

.search {
  border-radius: 5px;
  padding: 5px;
  border: none;
  font-size: 20px;
  position: relative;
}

.loginBtn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 10px;
}

.adminText {
  color: white;
}

.admin {
  display: flex;
  align-items: center;
}

.god {
  margin-right: 7px;
}

.logoutBtn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 10px;
}

.user {
  display: flex;
  align-items: center;
}

.question {
  color:white;
  position: absolute;
  top: 70px;
  text-decoration: underline;
  padding: 5px;
}

.headerInput {
  display: flex;
  align-items: center;
}

.close {
  width: 20px;
  position: absolute;
  left: 230px;
  top: 13px;
}